Se están considerando dos activos A y B. El precio actual del activo A es del $50. Dentro de un año, el precio del activo A será $40 si la economía entra en recesión, $55 si la economía se mantiene normal, y $60 si la economía se expande. Las probabilidades de recesión, normalidad y expansión son 0.1, 0.8 y 0.1, respectivamente. Además, el activo A no paga dividendos. La volatilidad de los rendimientos del portafolio de mercado es del 10%. El rendimiento esperado del activo B es del 7% y su volatilidad es del 12%. Además, la correlación entre los rendimientos del activo A y el portafolio de mercado es de 0.8, y la correlación de los rendimientos del activo B y el portafolio de mercado es de 0.5. La correlación entre los dos activos (A y B) es de 0.6. ¿Cuál es el valor de βA (beta del activo A)?

In [1]:
import pandas as pd

In [2]:
pa0 = 50

In [4]:
tabla = pd.DataFrame({
    'prob': [0.1, 0.8, 0.1],
    'prec': [40, 55, 60]
})
tabla

   prob  prec
0   0.1    40
1   0.8    55
2   0.1    60

In [5]:
tabla['ret'] = (tabla['prec'] - pa0) / pa0
tabla

   prob  prec  ret
0   0.1    40 -0.2
1   0.8    55  0.1
2   0.1    60  0.2

In [6]:
era = (tabla['prob'] * tabla['ret']).sum()
era

0.08000000000000002

In [7]:
sa = (tabla['prob'] * (tabla['ret'] - era)**2).sum()**0.5
sa

0.09797958971132713