In [1]:
# Importar paquetes
import pandas_datareader.data as web
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
# Función para descargar precios de cierre ajustados:
def get_adj_closes(tickers, start_date=None, end_date=None):
    # Fecha inicio por defecto (start_date='2010-01-01') y fecha fin por defecto (end_date=today)
    # Descargamos DataFrame con todos los datos
    closes = web.DataReader(name=tickers, data_source='yahoo', start=start_date, end=end_date)
    # Solo necesitamos los precios ajustados en el cierre
    closes = closes['Adj Close']
    # Se ordenan los índices de manera ascendente
    closes.sort_index(inplace=True)
    return closes

In [3]:
# Información
tickers = ["MSFT", "AAPL", "AMZN", "FB", "GOOGL"]
start = "2015-01-01"

In [4]:
# Precios diarios ajustados en el cierre
closes = get_adj_closes(tickers=tickers,
                        start_date=start)

In [5]:
closes.head()

Symbols          MSFT       AAPL        AMZN         FB       GOOGL
Date
2015-01-02  41.108837  24.714504  308.519989  78.449997  529.549988
2015-01-05  40.730808  24.018261  302.190002  77.190002  519.460022
2015-01-06  40.132988  24.020527  295.290009  76.150002  506.640015
2015-01-07  40.642895  24.357344  298.420013  76.150002  505.149994
2015-01-08  41.838528  25.293209  300.459991  78.180000  506.910004

In [6]:
ret = closes.pct_change().dropna()
ret.head()

Symbols         MSFT      AAPL      AMZN        FB     GOOGL
Date
2015-01-05 -0.009196 -0.028171 -0.020517 -0.016061 -0.019054
2015-01-06 -0.014677  0.000094 -0.022833 -0.013473 -0.024679
2015-01-07  0.012705  0.014022  0.010600  0.000000 -0.002941
2015-01-08  0.029418  0.038422  0.006836  0.026658  0.003484
2015-01-09 -0.008405  0.001072 -0.011749 -0.005628 -0.012211

In [14]:
# Covarianza
sigma = ret.cov()
sigma

Symbols      MSFT      AAPL      AMZN        FB     GOOGL
Symbols
MSFT     0.000291  0.000214  0.000213  0.000211  0.000210
AAPL     0.000214  0.000335  0.000196  0.000210  0.000185
AMZN     0.000213  0.000196  0.000375  0.000237  0.000206
FB       0.000211  0.000210  0.000237  0.000439  0.000228
GOOGL    0.000210  0.000185  0.000206  0.000228  0.000283

In [8]:
# Correlación
ret.corr()

Symbols      MSFT      AAPL      AMZN        FB     GOOGL
Symbols
MSFT     1.000000  0.684077  0.644077  0.589201  0.729836
AAPL     0.684077  1.000000  0.553423  0.548819  0.601070
AMZN     0.644077  0.553423  1.000000  0.584105  0.632216
FB       0.589201  0.548819  0.584105  1.000000  0.646589
GOOGL    0.729836  0.601070  0.632216  0.646589  1.000000

In [12]:
eind = ret.mean()
eind

Symbols
MSFT     0.001249
AAPL     0.001226
AMZN     0.001456
FB       0.000766
GOOGL    0.001043
dtype: float64

In [10]:
# Portafolio 25% MSFT, 15% AAPL, 18% AMZN, 12% FB, 30% GOOGL
w = np.array([0.25, 0.15, 0.18, 0.12, 0.3])

In [13]:
# Rendimiento esperado port
ep = eind.T.dot(w)
ep

0.0011629064808026677

In [16]:
# Volatilidad port
sp = (w.T.dot(sigma).dot(w))**.5
sp

0.015251994629961341